* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after {
    content: '';
    clear: both;
    display: table;
}

html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background-color: #009788;
    height: 100vh;
}

figure#card {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 810px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 50px 90px 0px rgba(32, 37, 58, 0.50);
}

div.left,
div.right {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

div.left {
    height: 114%;
}

div.left img {
    width: 100%;
}

div.left svg {
    position: absolute;
}

.chat {
    position: absolute;
    bottom: 75px;
    left: 20px;
    color: #34495e;
    font-size: 30px;
    text-decoration: none;
    transition: all 200ms ease-in-out 40ms;
}

.chat:hover {
    transform: scale(1.1);
    color: #4592ff;
}

div.right {
    padding: 40px;
}

div.right h1 {
    text-transform: uppercase;
    font-size: 42px;
    color: #34495e;
    margin-bottom: 30px;
}

div.right p {
    color: #808ba8;
}

nav.social {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

nav.social h2 {
    text-transform: uppercase;
    color: #000;
    background-color: yellow;
    line-height: 45px;
}

nav.social a {
    position: absolute;
    width: 25%;
    height: 20px;
    color: white;
    font-size: 30px;
    line-height: 90px;
    text-decoration: none;
    transition: all 20ms ease-in-out 40ms;
    transform-origin: bottom;
}

nav.social span {
    opacity: 0;
    height: 0;
    transition: all 200ms ease-in-out 30ms;
}

nav.social a:hover>span {
    transition-delay: 200ms;
    opacity: 1;
    height: initial;
}

nav.social a:hover {
    height: 90px;
}

nav.social a:nth-child(2) {
    background-color: #1da1f2;
    left: 0;
}

nav.social a:nth-child(3) {
    background-color: #45719d;
    left: 25%;
}

nav.social a:nth-child(4) {
    background-color: #ea4c89;
    left: 50%;
}

nav.social a:nth-child(5) {
    background-color: #004879;
    left: 75%;
}

div.left .clip {
    clip-path: url("#clipPolygon");
}